<div class="container">
  <div class="form-group">
    <div class="title-container">
      <img class="title-img" src="https://cdn-icons-png.flaticon.com/512/5968/5968819.png">
      <h1 class="title">Join Twitch today</h1>
    </div>
    <div class="body-container">
      <div class="body-title">
        <h4 class="log-in">Log In</h4>
        <h4 class="sign-up">Sign Up</h4>
      </div>
      <div class="form-body">
        <span>Username</span>
        <input type="text" >
        <span>Password</span>
        <input type="password" >
        <span>Confirm Password</span>
        <input type="password" >
      </div>
      <span>Date of Birth</span>
      <div class="form-body-dob">
        <select name="dob" class="dob">
          <option>Month</option>
          <option>January</option>
          <option>February</option>
          <option>March</option>
          <option>April</option>
          <option>May</option>
          <option>June</option>
          <option>July</option>
          <option>August</option>
          <option>September</option>
          <option>October</option>
          <option>November</option>
          <option>December</option>
        </select>
        <input type="text" placeholder="Day">
        <input type="text" placeholder="Year">
      </div>
    </div>
  </div>
</div>